<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="card_wrapper bg-white">
            <div class="card_top">
                    <figure class="img">
                        <%= image_tag('default_pic.png')%>
                    </figure>
                     <h5><%= current_user.full_name%></h5> 
                        <div class=""> <small>If you think, then you are alive</small> </div>
                    <div class="card_top_details mt-3">
                        <div class="">Member Since</div>
                        <div class="">June 2020</div>
                    </div>
                     <div class="card_top_details mt-3">
                        <div class=""> <i class="fas fa-map-marker-alt" ></i> From</div>
                        <div class=""></div>
                    </div>
                     <div class="card_top_details mt-3">
                        <div class="">Online Status</div>
                        <div class="">false</div>
                    </div>
            </div>
            <div class="card_middle">if</div>
            <div class="card_bottom">IS </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card_wrapper bg-white">
                world
            </div>
        </div>
    </div>
    
</div>
