@import "./_custom";
@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end
@import "noty/lib/noty";
@import "noty/lib/themes/relax";
* {
    box-sizing: border-box;
}

html {
    background-color: #f7f7f7;
    font-size: 16px;
}

body {
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
    color: $font-color;
}

.nav-btn {
    padding: 4px;
    margin-top: 3px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    top: 117%;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    .dropdown-item {
        font-size: 90%;
        border-left: 2px solid #316ab4;
        padding: 15px;
    }
}

.dropdown-divider {
    margin: 0;
}

.page_wrapper {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 1fr;
    @media screen and (max-width: $break-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr;
    }
}

.signup_info {
    background-color: #37318f;
    color: #efefef;
    display: grid;
    justify-content: center;
    align-content: center;
    .signup_info_content {
        text-align: center;
        padding: 10px;
        font-size: 95%;
    }
}

.signup_form {
    width: 100%;
    background-color: #eeeeee;
    display: grid;
    justify-content: center;
    align-content: center;
}

.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    input {
        width: 500px;
        border-top: 0;
    }
    .no-outline:focus {
        outline: none;
    }
    label {
        font-size: 80%;
    }
    @media screen and (max-width: $break-medium) {
        input {
            width: 300px;
        }
    }
}

.signup_form_header {
    line-height: 18px;
}

.signup_form_footer {
    text-align: center;
    font-size: 75%;
    margin: 10px;
    padding: 5px;
}

.form_passwd_reset {
    margin-top: 20vh;
    display: grid;
    justify-content: center;
}

.my_ul {
    width: 100%;
    padding: 0;
    margin: 0;
    .dropdown-menu {
        top: 100%;
    }
    .dropdown-item {
        text-transform: capitalize;
    }
    li:last-child {
        border-right: 1px solid #efefef;
    }
    li {
        text-align: center;
        width: 100%;
        border: 1px solid #efefef;
        border-right: none;
        border-bottom: none;
        padding: 10px 0;
        text-transform: uppercase;
    }
}

.no_gaps {
    padding: 0;
    margin: 0;
}

.card_wrapper {
    font-size: 95%;
    padding: 20px 0;
    display: grid;
    figure {
        img {
            width: 50%;
        }
    }
    .card_top_details,
    .card_middle_details {
        display: flex;
        justify-content: space-between;
    }
}

.card_top {
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.card_middle {
    padding: 30px;
}

.offline {
    font-size: 80%;
    border: 1px solid #e95a4b;
    color: #e95a4b;
    padding: 1px 15px;
    border-radius: 10px;
}

.online {
    font-size: 80%;
    border: 1px solid #27ae60;
    color: #27ae60;
    padding: 1px 15px;
    border-radius: 10px;
}

.online::before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: #27ae60;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

#OpenAvatarUpload {
    &:hover {
        cursor: pointer;
    }
}

span {
    img {
        width: 30px;
    }
}